@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

body{
    margin: 0;
}



.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* textarea{
} */

#click
{
    background-color: #72726e;
    /* border: 2px solid limegreen; */
    padding: 15px;
    cursor: pointer;
    width: 315px;
    border: 1px solid rgb(7, 7, 7);
    border-radius: 6px;
    color: linen;
    font-size: larger;
    text-align: center;
}

.foot{
    border: 3px solid #0096c7;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    position: fixed;

    bottom: 0;
    width: 100%;
    background-color: #495057;
    text-align: center;
    color: linen;
    font-family: 'Rajdhani', sans-serif;
 }

