:root{
    --primary-color:#6AEAF1;
    --secondary-color:#0F8893;
    --hover-color:#30314F;
}

body{
    background-image: url('/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    min-height: 100vh;
    margin: 0;
}


.contents{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;

    height: 30vh;
    background-image: url(/pr.jpg);
    background-size:cover;
	background-repeat:no-repeat;
    margin: 4rem auto;
    max-width: 76%;
    min-height: 80vh;
    box-shadow:  30px 30px 30px  gray;
}

.inputs{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 3rem;
    width: 55%;
    color: white;
    font-size: larger;
}

.inputs label{
    font-size: large;
    font-weight: bolder;
}

.outputs{
    display: flex;
    /* margin: 0rem 16rem; */
    padding-top: 0.5rem;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
}

.inputboxes{
    background-color: var(--primary-color);
    border: 2px solid var(--secondary-color);
    padding: 16px;
    border-radius: 11px;
    margin: 0.5rem 1rem 0rem 0.2rem;
    height: 19px;
    width: 220px;
    /* overflow: scroll; */
    color: white;
    /* font-size: larger; */
}
#click{
    display: block;
    margin: 0.5rem 1rem 0rem 0.2rem;
    padding: 10px 18px;
    width: 85px;
    background-color: var(--primary-color);
    color: rgb(3, 3, 3);
    font-weight: bold;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    border: 2px solid var(--primary-color);
}

#result{
     color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: larger;
}

@media only screen and (max-width: 700px) {
    .contents {
        display: block;
    }
    .inputs {
        margin: 1rem;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contents input {
        max-width: 75%;
    }
}