:root{
    --primary-color:#3A529C;
    --secondary-color:#44A1CF;
    --hover-color:#30314F;
}

body{
    background-image: url('/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    min-height: 100vh;
    margin: 0;
}

.contents{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 30vh;
}

.inputs{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}


.outputs{
    display: block;
    margin: 0 auto 1rem;
    padding: 0.5rem 1rem;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
}